:root {
  --pale-spring-bud: #dde0bdff;
  --pale-spring-bud-2: #d0d1acff;
  --silver-pink: #b6a39eff;
  --taupe-gray: #948b89ff;
  --sonic-silver: #726e75ff;
}

html,
body {
  margin: 0;
  height: 100%;
}

.app-container {
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-color: var( --pale-spring-bud );
  display: flex;
  padding: 0;
}

.border-box {
  border-style: solid;
  border-color: #000;
}

.sidebar-container {
  width: 16%;
  margin: 10px;
}

.main-container {
  margin: 10px;
  width: 84%;
  background-color: var( --pale-spring-bud-2 );
  display: flex;
  align-items: center;
  justify-content: center;
}

.submain-container {
  min-height: 45%;
  min-width: 45%;
  margin: 5px;
  background-color: var( --silver-pink );
}
