/* @import url("/IBMPlexMono-Regular.ttf"); */
/* @import url("/IBMPlexMono-Bold.ttf"); */
/* @import url("/IBMPlexMono-Italic.ttf"); */
.content {
    // padding: 5em;
    // max-width: 50%;
}

.imlist {
    padding: 1em;
    display: flex;
    border: solid black;
}

* {
    font-family: monospace;
    text-align: justify;
    text-justify: inter-word;
    font-size: 18px;
}

.title {
    font-weight: bold;
    font-size: 72px;
}

.mapimg {
    // position: absolute;
    // top: 0px;
    // left: 0px;
    z-index: -1;
    padding: 0px;
    width: auto;
    height: 100vh;
}

.cloud1 {
    position: absolute;
    top: 300px;
    left: 600px;
    z-index: 2;
    width: 50vw;
    overflow: hidden;
}

.cloud2 {
    position: absolute;
    top: 0px;
    left: 100px;
    z-index: 2;
    width: 50vw;
    overflow: hidden;
}

.cloudcontainer {
    // position: absolute;
    // display: block;
    max-width: 100vw;
    overflow: hidden;
}
