@charset "UTF-8";

body {
    font-family: "Myriad Pro", Calibri, Helvetica, Arial, sans-serif;
    scroll: hidden;
}

a:link {
    color: #005585;
    text-decoration: none;
}
a:visited {
    color: #485270;
}
a:hover {
    color: #b83800;
    text-decoration: underline;
}

#main {
    text-align: center;
    padding: 0;
}

.mapgrid {
    padding: 0;
    width: 10000px;
    display: inline-grid;
    grid-template-columns: repeat(41, 1fr);
    column-gap: 0;
    row-gap: 0;
    justify-content: start;
}
.world-row {
    /* overflow-y: hidden; */
    /* overflow-x: scroll; */
}

.unloaded-tile {
    height: 250px;
    min-width: 250px;
    background-color: green;
    border: 2px solid red;
}

.clicked {
    height: 256px;
    width: 256px;
    background-color: blue;
    /* border: 2px solid black; */
    user-select: none;
}

#container {
    /* cursor: grab; */
    /* overflow: auto; */
    /* height: 50vw; */
    /* width: 80vw; */
}

.noselect img {
    pointer-events: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
    -ms-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* FORM STUFF */

.terrain-form label {
    color: blue;
}

#zone-grid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-gap: 0px;
    top: 0;
    left: 0;
    width: 1600px;
    height: 1600px;
}

#map-grid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(160, 1fr);
    grid-template-rows: repeat(160, 1fr);
    grid-gap: 0px;
    top: 0;
    left: 0;
    width: 1600px;
    height: 1600px;
}

.zone-cell:hover {
    border: solid 1px black;
}

.map-cell:hover {
    border: unset;
}

#sat-container {
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1600px;
    height: 1600px;
}

#main-home-container {
    background-color: #313e49;
}

#main-zone-container {
    background-color: black;
    display: flex;
}

.zone {
    margin: auto;
}

body {
    margin: 0;
}
