#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
    filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.flex {
    display: flex;
}

.whitetext {
    color: white;
}

.wang-preview {
    margin: 1em 5px;
}
