{% extends "layouts/default.html" %} {% block title %} Welcome to Caveman2 {%
endblock %} {% block content %}

<div>
    <ul>
        {% for terr in terrain-indexes %}
        <div class="terrain-image">
            <img src="/terrain-image/{{terr}}" alt="{{ terr.name }}"></img>
        </div>
        {% endfor %}
    </ul>
</div>

{% endblock %}
