#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: black;
  height: 100vh;
}
table, th, td {
  border: 1px solid ;
}
table {
}
td {
  width: 50px;
  height: 50px;
  background-color: hsl(55, 97%, 56%);
}
